.header{
    Font-family: "Times New Roman";
    Font-size: 24px;
    Color: Green;
}
.footer{
    Font-family: "Times New Roman";
    Font-size: 18px;
    Color: Green;
}
a:visited {
    color: Red;
}       
a:hover {
    font-weight: bold;
}       
a:active {
    text-decoration: none;
}
            